---
title: Portfolio
layout: 'base.njk'
---
<section class="py-16">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-16 items-center">
    <div class="max-w-xl">
      <h1 class="text-5xl font-bold text-gray-900 leading-tight mb-6">
        Hello, I’m Walker.<br />
        <span class="text-red-600">
          I develop tools professionals need.
        </span>
      </h1>

      <p class="text-lg text-gray-600 mb-6">
        I’m a developer based in Charleston focused on building tools that automate workflows and simplify complex systems.
      </p>

      <p class="text-lg text-gray-600 mb-6">
        I hold a Bachelor’s degree in Computer Science from Georgia Southern University and currently work at Mediterranean Shipping Company, where I build internal tools and automation.
      </p>

      <p class="text-lg text-gray-600 mb-6">
        Working in a global organization has given me experience collaborating with teams across multiple regions, with a focus on delivering well engineered solutions that bring measurable improvements to complex systems, particularly in ocean freight and logistics.
    </p>
    </div>

    <div class="flex justify-center">
      <img
        src="/res/ProfilePicture.jpg"
        alt="Profile Picture"
        class="rounded-2xl max-w-sm shadow-lg"
      />
    </div>
  </div>
</section>

    
<section class="py-32 bg-gray-100 border-t border-gray-300">
  <div class="max-w-6xl mx-auto px-4">
    <!-- Section header -->
    <div class="text-center mb-20">
      <h2 class="text-4xl font-extrabold text-gray-900 mb-4">
        Featured Projects
      </h2>

    </div>

    <!-- Projects List -->
    <ul class="flex flex-col gap-16">
      {%- for project in collections.featured -%}
        <li class="flex justify-center">
          {% include "projectArticleTemplate.njk" %}
        </li>
      {%- endfor -%}
    </ul>

    <!-- Optional Projects Nav -->
    <div class="mt-20 text-center">
      <a
        href="/Projects"
        class="inline-block px-6 py-3 bg-red-600 text-white font-semibold rounded-lg shadow hover:bg-red-700 transition"
      >
        View All Projects →
      </a>
    </div>
  </div>
</section>







